{% extends 'fastcars.html' %}

{% block content %}
    <h1 class="text-center">VENITH Fast Cars</h1>
    <p class="subtitle">We sell the fastest cars</p>

    <div class="row justify-content-center">
        {% for product in VENITHfastcars %}
         <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.stock }} available</h6>
                  <p class="card-text">${{ product.price }}</p>
                  <a href="#" class="btn btn-primary mb-2">Buy Now</a><br>
                  <a href="#" class="btn btn-outline-secondary btn-sm">View Details</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
